<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>PRI.C</h2>
  <form action="/" method="post">
    <div class="form-group">
      <label for="name">name:</label>
      <input type="text" class="form-control" id="name" placeholder="your nickname" name="name">
    </div>
    <div class="form-group">
      <label for="room">room:</label>
      <input type="text" class="form-control" id="room" placeholder="room name" name="room">
        <button type="button" onclick="generate()">generate</button>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
    <script type="text/javascript">
      function generate() {
                var length = 8,
                charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789",
                retVal = "";
                for (var i = 0, n = charset.length; i < length; ++i) {
                    retVal += charset.charAt(Math.floor(Math.random() * n));
                }
                $("#room").val(retVal);
            }
        </script>
</body>
</html>